---
layout: default
title: Gallery
meta_description:
permalink: /gallery/
meta_tags:
  robots:
---

{% comment %}

  Name:

    Gallery Page

  Description:

    Display gallery images from the media library.

  Usage:

    Upload images to media library and add the tag [gallery] to each.

    eg. {% for photo in site.photos %}
          {% assign tag_list = photo.tags | split: "," | strip %}
          {% if tag_list contains "gallery" %}
            <div data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}">
              <img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}">
            </div>
          {% endif %}
        {% endfor %}

{% endcomment %}
