---
published_localized:
  en: true
title_localized:
  en: The Local Flow
layout_localized:
  en: default
label_localized:
  en: The Local Flow
permalink_localized:
  en: "/local-flow/"
include_in_nav_localized:
  en: false
---

<!-- local flow banner section start -->
<section class="inner-banner extra-height d-flex align-items-end" style="background-image:url(/assets/images/local-flow/local-flow-banner.jpg);">
  <div class="overlap"></div>
  <div class="title-bg big"></div>
  <div class="inner-banner-title offer-detail">
    {% regionblock page_heading, type: heading %}
    <h1>Local
      <br>favorites</h1>
    {% endregionblock %}
    {% regionblock page_heading, type: heading %}
    <h5>things to do & see</h5>
    {% endregionblock %}
  </div>
</section>
<!-- local flow banner section end -->

<!-- local flow section start -->
<section class="assets-wrap local-flow-wrap">
  <ul class="text-center m-0 pt-0 nav nav-tabs border-bottom-0 d-block" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="eat-tab" data-toggle="tab" data-target="#eat" role="tab" aria-controls="Eat & Drink" aria-selected="true">Eat & Drink</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="experience-tab" data-toggle="tab" data-target="#experience" role="tab" aria-controls="Experience"
        aria-selected="false">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="splurge-tab" data-toggle="tab" data-target="#splurge" role="tab" aria-controls="Splurge" aria-selected="false">Splurge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="explore-tab" data-toggle="tab" data-target="#explore" role="tab" aria-controls="Explore" aria-selected="false">Explore</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">

    <!-- Eat & drink starts here -->
    <div class="tab-pane fade show active" id="eat" role="tabpanel" aria-labelledby="eat-tab">
      {% assign favorites = site.data._models.local-favorites | sort: 'title' %}
      {% for favorite in favorites %}
        {% if favorite.category == 'Eat & Drink' %}
          <div class="assets-block m-0">
            <div class="assets-img bg-cover" style="background-image:url(https:{{ favorite.image.url }});"></div>
            <div class="assets-content">
              <div class="assets-content-inner">
                <h5>{{ favorite.title }}</h5>
                <p>{{ favorite.description }}</p>
                <div class="btn-holder">
                  <a href="{{ favorite.button_link }}" target="_blank" class="border-black" title="view room">{{ favorite.button_text }}</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- Eat & drink ends here -->

    <!-- Experience starts here -->
    <div class="tab-pane fade text-center pb-5" id="experience" role="tabpanel" aria-labelledby="experience-tab">
      {% assign favorites = site.data._models.local-favorites | sort: 'title' %}
      {% for favorite in favorites %}
        {% if favorite.category == 'Experience' %}
          <div class="assets-block m-0">
            <div class="assets-img bg-cover" style="background-image:url(https:{{ favorite.image.url }});"></div>
            <div class="assets-content">
              <div class="assets-content-inner">
                <h5>{{ favorite.title }}</h5>
                <p>{{ favorite.description }}</p>
                <div class="btn-holder">
                  <a href="{{ favorite.button_link }}" target="_blank" class="border-black" title="view room">{{ favorite.button_text }}</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- Experience ends here -->

    <!-- Splurge starts here -->
    <div class="tab-pane fade text-center pb-5" id="splurge" role="tabpanel" aria-labelledby="splurge-tab">
      {% assign favorites = site.data._models.local-favorites | sort: 'title' %}
      {% for favorite in favorites %}
        {% if favorite.category == 'Splurge' %}
          <div class="assets-block m-0">
            <div class="assets-img bg-cover" style="background-image:url(https:{{ favorite.image.url }});"></div>
            <div class="assets-content">
              <div class="assets-content-inner">
                <h5>{{ favorite.title }}</h5>
                <p>{{ favorite.description }}</p>
                <div class="btn-holder">
                  <a href="{{ favorite.button_link }}" target="_blank" class="border-black" title="view room">{{ favorite.button_text }}</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- Splurge ends here -->

    <!-- Explore starts here -->
    <div class="tab-pane fade text-center pb-5" id="explore" role="tabpanel" aria-labelledby="explore-tab">
      {% assign favorites = site.data._models.local-favorites | sort: 'title' %}
      {% for favorite in favorites %}
        {% if favorite.category == 'Explore' %}
          <div class="assets-block m-0">
            <div class="assets-img bg-cover" style="background-image:url(https:{{ favorite.image.url }});"></div>
            <div class="assets-content">
              <div class="assets-content-inner">
                <h5>{{ favorite.title }}</h5>
                <p>{{ favorite.description }}</p>
                <div class="btn-holder">
                  <a href="{{ favorite.button_link }}" target="_blank" class="border-black" title="view room">{{ favorite.button_text }}</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- Explore ends here -->

  </div>
</section>
<!-- local flow section end -->
