---
layout: default
title: Room Details
meta_description:
permalink: /room-details/
meta_tags:
  robots:
---

<section class="inner-banner extra-height" style="background-image:url(/assets/images/rooms/room-banner.jpg);">
    <div class="overlap"></div>
    <div class="inner-banner-title">
        <h1>ocean<br>view</h1>
        <h5>room <span>01</span> | Tonight’s rate <span>$380</span></h5>
    </div>
</section>
{% include booking-widget-custom.html %} 
{% include special_offers.html %}
<section class="cta-signup bg-cover text-center" style="background-image: url(/assets/images//rooms/room-cta.jpg);">
    <div class="overlap"></div>
    <div class="cta-signup-inner">
        <h4>exclusive newsletter sign-up</h4>
        <h2>forever moments</h2>
        <div class="input-holder m-auto">
            <input type="email" name="" placeholder="Your Email Address goes here">
            <button><span class="e-icon m-0">$</span></button>
        </div>
    </div>
</section>

