---
published_localized:
  en: true
title_localized:
  en: Carlsbad Beachfront Hotel Rooms | Rooms at Beach Terrace Inn
layout_localized:
  en: default
label_localized:
  en: Carlsbad Beachfront Hotel Rooms | Rooms at Beach Terrace Inn
meta_description_localized:
  en: Every room at our Carlsbad beachfront hotel offers comfortable bedding, eco-friendly amenities, 42" plasma TV and large walk-in showers. Book your stay today!
permalink_localized:
  en: "/room-details/"
---

<section ng-controller="roomDetail" rt3-room-details="room" class="room-detail-pa">
  {% include booking-widget-custom.html %}
  <!-- room detail content section start -->
  <section>
    <div class="room-details-content p-0">
      <div class="room-details-inner m-0">
        <div class="_left p-0">
          <div class="text-sec">
            <h2 ng-bind-html="room.name | renderHTMLCorrectly"></h2>
            <h4 ng-bind-html="room.tagline | renderHTMLCorrectly"></h4>
            <a ng-href="{{site.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" class="black"
              title="Book Now">Book Now</a>
          </div>
        </div>
        <div class="_right p-0">
          <div class="img-sec">
            <img src="/assets/images/rooms/women-with-hat.jpg" alt="Women with Hat">
          </div>
        </div>
      </div>
    </div>
    <div class="content-bottom-part">
      <div class="content-bottom-inr m-0">
        <div class="_left d-flex align-items-baseline p-0">
          <img src="//cdn.traveltripper.io/site-assets/32_826_15828/media/2018-05-15-021650/beach.jpg" alt="Beach view" class="align-self-end">
        </div>
        <div class="_middle">
          <p ng-bind-html="room.description | renderHTMLCorrectly"></p>
        </div>
        <div class="_right text-right p-0">
          <img src="/assets/images/rooms/flower.jpg" alt="Flower">
        </div>
      </div>
    </div>
  </section>
  <!-- room detail content section end -->
  <!-- features section start -->
  <section class="features-section">
    <h3 class="text-center">Room Features</h3>
    <div class="features">
      <div class="features-list">
        <ul class=" m-0 p-0">
          <li ng-repeat="feature in hotelInfo.common_room_amenities">
            <div class="features-icon">
              <img ng-src="/assets/images/rooms/features/[[feature | formatNameForLink]].png" alt="[[feature]]" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='">
            </div>
            <span>[[feature]]</span>
          </li>
          <li ng-repeat="feature in room.amenities">
            <div class="features-icon">
              <img ng-src="/assets/images/rooms/features/[[feature | formatNameForLink]].png" alt="[[feature]]" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='">
            </div>
            <span>[[feature]]</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- features section end -->
  {% include special_offers.html %}
  <!-- newsletter signup start -->
  <section class="cta-signup bg-cover text-center" style="background-image: url(/assets/images/rooms/room-cta.jpg);">
    <div class="overlap"></div>
    <div class="cta-signup-inner">
      {% regionblock cta_heading, type: heading %}
      <h4>Stay in Touch with Beach Terrace Inn</h4>
      {% endregionblock %}
      {% regionblock cta_subheading, type: heading %}
      <h2>forever moments</h2>
      {% endregionblock %}
      <div class="input-holder m-auto">
        <a href="https://signup.e2ma.net/signup/1862574/1405684/" class="white-shadow-white" onclick="window.open('https://signup.e2ma.net/signup/1862574/1405684/', 'signup', 'menubar=no, location=no, toolbar=no, scrollbars=yes, height=500'); return false;">Join our list</a>
      </div>
    </div>
  </section>
  <!-- newsletter signup end -->
</section>
