---
layout: default
title: Room Details
meta_description:
permalink: /room-details/
meta_tags:
  robots:
---

<section class="inner-banner extra-height" style="background-image:url(/assets/images/rooms/room-banner.jpg);">
	<div class="overlap"></div>
	<div class="inner-banner-title">
		<h1>ocean<br>view</h1>
		<h5>room <span>01</span> | Tonight’s rate <span>$380</span></h5>
	</div>
</section>

{% include booking-widget-custom.html %}

<section class="common-content-element oceanside-living">
 	<div class="common-content-element-container">
 		<div class="common-content-element-inner">
 			<div class="inspired-text">
		 		<div class="inspired_heading">
				 	<h2>oceanside<br>living</h2>
				 	<h4>enjoy timeless comforts</h4>
				 	<a href="" class="black" title="book now">book now</a>
				</div>
		 	</div>
		 	<div class="inspired-img">
		 		<img src="/assets/images/rooms/women-with-hat.jpg" alt="Women with hat" class="img-fluid">
		 	</div>
 		</div>
 	</div>
 
 <div class="common-content-element-bottom">	
	<div class="common-content-element-bottom-image">
		
		<img src="/assets/images/rooms/beach-view.jpg" alt="Beach View" class="img-fluid">
	</div>
	<div class="common-content-element-bottom-text-image">
		<div class="common-content-element-bottom-text-image-inner">
			<div class="content">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
			</div>
			<div class="img">
				<img src="/assets/images/rooms/flower.jpg" alt="Flower" class="img-fluid" >
			</div>
		</div>
	</div>
</div>
</section>

{% include special_offers.html %}

<section class="cta-signup bg-cover text-center" style="background-image: url(/assets/images//rooms/room-cta.jpg);">
	<div class="overlap"></div>
    <div class="cta-signup-inner">
        <h4>exclusive newsletter sign-up</h4>
        <h2>forever moments</h2>
        <div class="input-holder m-auto">
            <input type="email" name="" placeholder="Your Email Address goes here">
            <button><span class="e-icon m-0">$</span></button>
        </div>
    </div>
</section>
