---
layout: default
title: Carlsbad Wedding Venues | Weddings at Beach Terrace Inn
meta_description: Are you looking for a special beach wedding venue in Carlsbad, CA? Beach Terrace Inn offers an intimate beachfront venue with an ocean-view reception room.
permalink: /weddings/
---

<!-- banner section start -->
<section class="inner-banner extra-height d-flex align-items-end" style="background-image:url(/assets/images/wedding/wedding_banner.jpg);">
  <div class="overlap"></div>
  <div class="title-bg big"></div>
  <div class="inner-banner-title">
    {% regionblock page_heading, type: heading %}
    <h1>Celebrate
      <br>Love</h1>
    {% endregionblock %}
    <a href="/rfp/" rel="nofollow" class="black inner-banner-btn" title="request for proposal">Request for proposal</a>
  </div>
</section>
<!-- banner section end -->

<!-- Wedding content section start -->
<section class="wedding-intro">
  <div class="intro-wrap m-0">
    <div class="_left">
      <div class="text-section">
        {% regionblock wedding_heading, type: heading %}
        <h4>Weddings at Beach terrace inn</h4>
        {% endregionblock %}
        <p>Intimate beach weddings are our specialty. With a beach undisturbed by the outside world, an 40 person reception
          venue with full ocean view, and our warm and dedicated staff, a wedding at the Beach Terrace Inn is filled with
          moments to cherish for a lifetime.</p>
        <a href="/contact/" title="book offer" class="border-black">contact us</a>
        <a href="https://cdn.traveltripper.io/site-assets/32_826_10375/media/2017-12-18-142304/BTI-Meeting---Wedding-Info-Sheet.pdf"
          title="fact sheet" class="border-black" target="_blank">fact sheet</a>
      </div>
    </div>
    <div class="_right">
      <div class="image-section">
        {% regionblock wedding_image_one, type: image %}
        <img src="/assets/images/wedding/wedding-2.jpg" alt="Wedding Decoration">
        {% endregionblock %}
        <div class="images-tow m-0">
          <div class="images p-0">
            {% regionblock wedding_image_two, type: image %}
            <img src="/assets/images/wedding/wedding-3.jpg" alt="Wedding Cake">
            {% endregionblock %}
          </div>
          <div class="images p-0">
            {% regionblock wedding_image_three, type: image %}
            <img src="/assets/images/wedding/wedding-4.jpg" alt="Wedding Couples">
            {% endregionblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- wedding content section end -->

<!-- cta section start -->
<section class="cta-signup bg-cover text-center forever-moments" style="background-image: url(/assets/images/wedding/forevermoments.jpg);">
  <div class="overlap"></div>
  <div class="cta-signup-inner">
    {% regionblock cta_heading, type: heading %}
    <h4>beach terrace inn | weddings</h4>
    {% endregionblock %}
    {% regionblock cta_subheading, type: heading %}
    <h2>forever moments</h2>
    {% endregionblock %}
    <div class="input-holder m-auto">
      <a href="/rfp/" rel="nofollow" class="border-black" title="Request For Proposal">request for proposal</a>
    </div>
  </div>
</section>
<!-- cta section end -->

<!-- setting section -->
<section class="setting-section">
  <div class="headings">
    {% regionblock setting_heading, type: heading %}
    <h2>the perfect
      <br>Setting</h2>
    {% endregionblock %}
    {% regionblock setting_subheading, type: heading %}
    <h4>wedding venue | ocean lounge</h4>
    {% endregionblock %}
    <a href="/rfp/" rel="nofollow" class="border-black" title="Book venue">Book venue</a>
  </div>
  <div class="hall m-0">
    <div class="hall-inner pl-0">
      <div id="setting-carousel" class="carousel slide" data-ride="carousel">
        <div class="hall justify-content-end m-0">
          <div class="image-slide">
            <div class="carousel-inner">

              {% for photo in site.data._galleries.wedding_slider.photos %}
              <div class="carousel-item {% if forloop.index == 1 %} active {% endif %}">
                <img class="d-block w-100 img-fluid" src="{{ photo.url }}" alt="{{ photo.description }}">
              </div>
              {% endfor %}

            </div>
          </div>
          <a class="carousel-control-prev" data-target="#setting-carousel" role="button" data-slide="prev">
            <span class="" aria-hidden="true">
              <img src="/assets/images/arrow_white.svg" alt="Prev">
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-target="#setting-carousel" role="button" data-slide="next">
            <span class="" aria-hidden="true">
              <img src="/assets/images/arrow_white.svg" alt="Next">
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Setting  section end-->

<section class="accommodation">
  {% regionblock accomodation_heading, type: heading %}
  <h3 class="text-center">wedding accommodations</h3>
  {% endregionblock %}
  {% include more-accommodation.html %}
</section>
