---
layout: default
title:
meta_description:
permalink:
meta_tags:
  robots:
---


<!--main hero image slider-->
<section class="hero-slider">
  	<div id="image-slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
            <div class="carousel-item bg-cover active" style="background-image:url(/assets/images/banner_hero.jpg)">  
            </div>
             <div class="carousel-item bg-cover" style="background-image:url(/assets/images/banner_hero.jpg)"> 
			</div>
			<div class="tonights-rate" id="tongihtrates" style="display: none;">	
			<div class="tn-heading">Tonight’s Rate  
				<a  title="close" id="close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</a>
			</div>
			<div class="other-rates">
				<ul>
					<li>
						<img src="assets/images/home/beach_terrace_inn_tonight_rate.jpg" alt="">
					</li>
					<li>
						<a href=""> Booking.com		$ 169 </a>
						<a href=""> Hotwire.com 	$ 199 </a>
						<a href=""> Expedia.com 	$ 199 </a>
						<a href=""> Travelocity 	$ 199 </a>
					</li>
				</ul>
			</div>
			<h4>join our VIP mailing list<br>for exclusive offers & News</h4>
			<div class="input-group">
			      <input type="text" class="form-control" placeholder="Your Email" aria-label="Your Email">
			      <div class="input-group-btn">
			        <button type="button" class="btn tranfrent-btn" value="" name="">
			         <i class="fa fa-angle-right" aria-hidden="true"> </i>
			        </button>
			    </div>
			</div>
			</div>
    		<div class="rate-widget" id="view_rates"> 
    			<a  >Book Direct & Save ▽ </a> 
    		</div>
  		</div>  
  	</div>
</section>

<!--Welcome section-->
<section class="welcome">
 	<div class="welcome-container">
 		<div class="welcome-inner">
		 	<div class="inspired">
		 		<img src="assets/images/home/beach_terrace_inn_home_2.jpg" alt="Beach View" class="img-fluid">
		 	</div>
		 	<div class="inspired">
		 		<div class="inspired_heading">
				 	<h1>Beach<br>Terrace inn</h1>
				 	<h4 >Awe-inspired moments</h4>
				</div>
		 	</div>
 		</div>
 	</div>
 
 <div class="welcome-about">	
	<div class="about-pic">
		
		<img src="/assets/images/home/beach_terrace_inn_home_3.jpg" alt="Beach Terrace Swiming pool & Beach" class="img-fluid">
	</div>
	<div class="about-content-pic">
		<div class="content-pic-inner">
			<div class="content">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
				<a href="/about/" title="Discover More" class="border-black" >Discover More</a>
			</div>
			<div class="pic">
				<img src="/assets/images/home/beach_treeace_inn_home_4.jpg" alt="Beach Terrace Inn Ariel View" class="img-fluid" >
			</div>
			<div class="trip_advicer">
				<ol>
				<li><i class="fa fa-tripadvisor"></i></li>
				<li>
				<p> 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.'</p>
				</li>
				<li>
				<a href="#" title="click link"><img src="/assets/images/arrow_white.svg" alt="click this link" ></a>
				</li>
			</ol>
			</div>
		</div>
	</div>
</div>
</section>
{% include more-rooms.html %}
<section>
	<div class="visual_tour">
		<div class="beach-view">
			<img src="/assets/images/home/beach_terrace_inn_home_5.jpg" alt=""/>
			<div class="over-lap-heading">
			<h2 >A world<br>of bliss</h2>
			<h4 >Enjoy ocean inspired living </h4>
			<a href="" class="border-black" title="visual tour">visual tour</a>
		</div>
		</div>
		
	</div>
</section>
<section>
<div class="explore-area">	
	<div class="explore-area-content-pic">
		<div class="content-pic-inner">
			<div class="explore_pic">
				<img src="/assets/images/home/beach_terrace_inn_Surfing.jpg" alt="Beach Terrace Inn Surfing with Car" class="img-fluid" >
			</div>
				<div class="content">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
				<a href="/about/" title="Discover More" class="border-black" >Explore Area</a>
			</div>
		</div>
	</div>
	<div class="cycleing-pic">
		<img src="/assets/images/home/beach_terrace_inn_dish_cycle.jpg" alt="Beach Terrace Cycleing  & Dish" class="img-fluid">
	</div>
</div>
</section>

{% include special_offers.html %}

<section class="love-section">
	<img src="/assets/images/home/love-bg.jpg" alt="Love" class="love-img">
	<div class="love-section-wrap">
		<div class="love-section-inner">
			<div class="love-img p-0">
				<img src="/assets/images/home/couple-kissing.jpg" alt="Couple Kissing"/>
			</div>
			<div class="love-sec-content">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
				<a href="#" class="border-black" title="Discover more">request for proposal</a>
			</div>
		</div>
</section>

<section class="moments-remember">
	<div class="moments-remember-inner m-0">
		<div class="moments-remember-left">
			<h2>Moments to<br>remember</h2>
			<h4>life together starts here</h4>
			<a href="#" class="border-black" title="Discover more">discover more</a>
			<div class="yellow-box"></div>
		</div>
		<div class="moments-remember-right">
			<div class="moments-remember-right-inner m-0">
				<div class="image-1 p-0">
				</div>
				<div class="image-2 p-0">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cta-sec-main bg-cover text-center" style="background-image: url(/assets/images/home/home-cta-bg.jpg);">
	<div class="overlap"></div>
    <div class="cta-sec-inner">
        <h4>exclusive newsletter sign-up</h4>
        <h2>seaside playground</h2>
        <div class="input-holder m-auto">
            <input type="email" name="" placeholder="Your Email Address goes here">
            <button><span class="e-icon m-0">$</span></button>
        </div>
    </div>
</section>

