---
layout: default
title: Beach Terrace Inn | Hotels in Carlsbad CA | Carlsbad Hotel
meta_description: Enjoy a Southern California sunset from our private beach. Our luxurious Hotel in Carlsbad CA is built directly on the sand. Book our Carlsbad hotel direct!
permalink:
meta_tags:
  robots:
---

<!--hero image slider start-->
<section class="hero-slider">
    <div id="image-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item bg-cover active" style="background-image:url(/assets/images/banner_hero.jpg)">
            </div>
            <!-- <div class="carousel-item bg-cover" style="background-image:url(/assets/images/banner_hero.jpg)">
            </div> -->
            <!--Tonights Rate section Start-->
            <!-- <div class="tonights-rate" id="tongihtrates" style="display: none;">
                <div class="tn-heading">Tonight’s Rate
                    <a title="close" id="close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="other-rates">
                    <ul>
                        <li>
                            <img src="assets/images/home/beach_terrace_inn_tonight_rate.jpg" alt="Tonight Rate">
                        </li>
                        <li>
                            <a href=""> Booking.com		$ 169 </a>
                            <a href=""> Hotwire.com 	$ 199 </a>
                            <a href=""> Expedia.com 	$ 199 </a>
                            <a href=""> Travelocity 	$ 199 </a>
                        </li>
                    </ul>
                </div>
                <h4>join our VIP mailing list<br>for exclusive offers & News</h4>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Your Email" aria-label="Your Email">
                    <div class="input-group-btn">
                        <button type="button" class="btn tranfrent-btn">
                            <i class="fa fa-angle-right" aria-hidden="true"> </i>
                        </button>
                    </div>
                </div>
            </div> -->
            <div class="rate-widget" id="view_rates">
                <a href="http://beachterraceinn.reztrip.com/" target="_blank">Book Direct & Save <span> △ </span> </a>
            </div>
            <!--Tonights Rate section End-->
        </div>
    </div>
</section>
<!-- hero image slider End-->
<!-- common section start-->
<section class="common-content p-0">
    <div class="top-part">
        <div class="top-part-inner">
            <div class="image-section">
                <img src="assets/images/home/beach_terrace_inn_home_2.jpg" alt="Beach View" class="img-fluid">
            </div>
            <div class="text-section align-self-center">
                <div class="heading-part">
                    <h1>Beach<br>Terrace inn</h1>
                    <h4>Check in to Check out</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-part m-0">
        <div class="images-part p-0">
            <img src="/assets/images/home/beach_terrace_inn_home_3.jpg" alt="Beach Terrace Swiming pool & Beach" class="img-fluid">
        </div>
        <div class="text-container m-0 p-0">
            <div class="text-container-inner m-0 p-0">
                <div class="content">
                    <p>At Beach Terrace Inn, we pride ourselves on our ability to live life slowly, fully, and in the moment. We cherish the “ahh moments” - those little instances where the distractions of the rest of the world are drowned out and you can finally relax - like that moment when you first hear the waves of the Pacific, or the moment you first feel the sand in your toes, or the moment you pull up to Beach Terrace Inn.<br>Let us show you how to get slow. </p>
                    <a href="/about/" title="Discover More" class="border-black">Discover More</a>
                </div>
                <div class="img align-self-end p-0">
                    <img src="/assets/images/home/beach_treeace_inn_home_4.jpg" alt="Beach Terrace Inn Ariel View" class="img-fluid">
                </div>    
            </div>
            <div class="trip-advisor m-0 p-0">
                <div class="brand-section d-flex align-items-center">
                	<!-- <img src="/assets/images/home/trip-advisor.jpg" alt="Trip Advisor"> -->
                	<i class="fa fa-tripadvisor m-auto" aria-hidden="true"></i>
                </div>
                <div class="text-section d-flex align-items-center">
                    <div id="tripAdvisorCarousel" class="carousel slide trip-advisor-carousel" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="trip-advisor-testimonial">
                            <h5><a href="https://www.tripadvisor.in/ShowUserReviews-g32171-d76339-r537988620-Beach_Terrace_Inn-Carlsbad_California.html" target="_blank">"One of the best Hotels in San Diego area."</a></h5>
                            <p>Quiet and peaceful getaway, perfect for couples. The staff is very professional and treats you like family. Beach access is well worth it. Beachfront rooms provide one of a kind views. A few bonus items can be found in some of the rooms.</p>
                            <p><span>- eriksU4786WP</span></p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="trip-advisor-testimonial">
                            <h5><a href="https://www.tripadvisor.in/ShowUserReviews-g32171-d76339-r529561820-Beach_Terrace_Inn-Carlsbad_California.html" target="_blank">"Fantasy World"</a></h5> 
                            <p>Location is perfect, the entire staff is precious, couldn't have been happier!!!!! It's impossible to get any closer to the sand and/or ocean than this wonderful place. I have been there 6 times (the first being in 1987!) and will continue to come back . My daughters and I love that you can walk to many places to eat, we do not have to bring beach chairs or umbrellas - it's already there for us. We also love how children-friendly the Inn is. Recommend this place to family and friends year after year!!!!!</p>
                            <p><span>- Jeanne Z</span></p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="trip-advisor-testimonial">
                            <h5><a href="https://www.tripadvisor.in/ShowUserReviews-g32171-d76339-r487771570-Beach_Terrace_Inn-Carlsbad_California.html" target="_blank">"Our little secret"</a></h5>
                            <p>After pouring over travel sites, maps and apps for a room with a balcony on the sand, I found this little gem. First, the staff, from the top down, were friendly, helpful and seemingly happy at work. We were happy, as well with, FREE breakfast, NO resort fees, NO parking charges, NO wifi premiums! Our room was beautiful, clean and quite large at 700 sq ft with a balcony right on the ocean perfect for viewing the sunset! The facility also offered a pool, hot tub and fire pit; beach chairs, towels, beach umbrellas and boogie boards. We walked all over town at night enjoying all that Carlsbad offers. Looking forward to next year at our new favorite spot in the San Diego area.</p>
                            <p><span>- Fern J</span></p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="trip-advisor-testimonial">
                            <h5><a href="https://www.tripadvisor.in/ShowUserReviews-g32171-d76339-r528717763-Beach_Terrace_Inn-Carlsbad_California.html" target="_blank">"Our Favorite Anywhere"</a></h5>
                            <p>My wife and I travel a lot and we aren't the types that return to the same place over and over - except when it comes to the Beach Terrace Inn. We have now been there six times and made a commitment to each other to return at least three times a year…</p>
                            <p><span>- JandCRTravelers</span></p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="trip-advisor-testimonial">
                            <h5><a href="https://www.tripadvisor.in/ShowUserReviews-g32171-d76339-r495491330-Beach_Terrace_Inn-Carlsbad_California.html" target="_blank">"Outstanding"</a></h5>
                            <p>This is a wonderful hotel in a beautiful location. We had a partial ocean view room, but could see the amazing Carlsbad sunsets perfectly. The room was huge, clean and a great place to relax. The staff went out of their way to ensure that everything was perfect...and it was! In particular they spent a lot of time ensuring that the pool and beach areas were kept spotless and that everyone had beach chairs, towels, umbrellas and boogie boards. The location is great for evenings too with dozens of restaurants within 10 minutes walk. Loved it!!</p>
                            <p><span>- Glyn E</span></p>
                          </div>
                        </div>
                        <a class="carousel-control-prev d-md-none" data-target="#tripAdvisorCarousel" role="button" data-slide="prev">
                        <span class="" aria-hidden="true"><img src="/assets/images/arrow_white.svg" alt="Prev"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" data-target="#tripAdvisorCarousel" role="button" data-slide="next">
                            <span class="" aria-hidden="true"><img src="/assets/images/arrow_white.svg" alt="Next"></span>
                            <span class="sr-only">Next</span>
                        </a>
                      </div>
                      
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- common section End-->
{% include more-rooms.html %}
<!-- Visual Tour section start-->
<section class="visual_tour_main p-0">
    <div class="visual_tour m-0 p-0">
        <div class="beach-view">
            <div id="common-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid" src="/assets/images/home/view-1.jpg" alt="Ahhh-mazing View">
                    </div>
                    <!-- <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/assets/images/home/view-2.jpg" alt="Ahhh-mazing View">
                    </div> -->
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/assets/images/home/view-3.jpg" alt="Ahhh-mazing View">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/assets/images/home/view-4.jpg" alt="Ahhh-mazing View">
                    </div>
                    <a href="" class="carousel-control-prev" data-target="#common-carousel" role="button" data-slide="prev">
                        <span class="" aria-hidden="true"><img src="/assets/images/arrow_white.svg" alt="Next"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="" class="carousel-control-next" data-target="#common-carousel" role="button" data-slide="next">
                        <span class="" aria-hidden="true"><img src="/assets/images/arrow_white.svg" alt="Next"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="over-lap-heading">
                <h2>Ahhh-mazing <br>Views</h2>
                <h4>The Only Beachfront Hotel in Carlsbad</h4>
                <a href="/gallery/" class="border-black" title="visual tour">visual tour</a>
            </div>
        </div>
    </div>
</section>
<!-- Visual Tour section End-->
<!--Explore Area start-->
<div class="explore-area m-0 ">
    <div class="explore-area-inner m-0 p-0">
        <div class="explore_img p-0 text-left">
            <img src="/assets/images/home/beach_terrace_inn_Surfing.jpg" alt="Beach Terrace Inn Surfing with Car" class="img-fluid">
        </div>
        <div class="content">
            <p>A quiet beach town with miles of coastline, Carlsbad is known for its stunning beaches and  breathtaking views. Take in the natural beauty of its striking cliffs, or visit attractions such as Legoland or the Flower Fields. The beauty of Carlsbad lies not only in its beach, but also its proximity.</p>
            <a href="/carlsbad/" title="Discover More" class="border-black">Explore Area</a>
        </div>
    </div>
    <div class="cycleing-img align-self-end text-right p-0">
        <img src="/assets/images/home/beach_terrace_inn_dish_cycle.jpg" alt="Beach Terrace Cycleing  & Dish" class="img-fluid pr-0">
    </div>
</div>
<!--Explore Area End-->
{% include special_offers.html %}
<!--Request for proposal section Start-->
<div class="love-section">
    <img src="/assets/images/home/wedding-place.jpg" alt="Wedding Place" class="love-img">
    <div class="love-section-wrap">
        <div class="love-section-inner">
            <div class="love-img p-0">
                <img src="/assets/images/home/happy-wedding.jpg" alt="Happy Wedding at Beach Terrace Inn are magical" />
            </div>
            <div class="love-sec-content">
                <p>Weddings at Beach Terrace Inn are magical. Let us make your special day even more memorable with an intimate beach ceremony, sand in your toes, the setting sun, and a spacious event venue overlooking the water.</p>
                <a href="/rfp/" class="border-black" title="Discover more">request for proposal</a>
            </div>
        </div>
    </div>
</div>
<!--Request for proposal section End-->
<!--Moments Remember section Start-->
<section class="moments-remember">
    <div class="moments-remember-inner m-0">
        <div class="moments-remember-left">
            <h2>Intimate <br>Moments</h2>
            <h4>A Place to Create Unforgettable Memories</h4>
            <a href="/weddings/" class="border-black" title="Discover more">discover more</a>
            <div class="yellow-box"></div>
        </div>
        <div class="moments-remember-right">
            <div class="moments-remember-right-inner m-0">
                <div class="image-1 p-0">
                </div>
                <div class="image-2 p-0">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Moments Remember section End-->
<!--Exclusive newsletter signup section Start-->
<section class="cta-signup bg-cover text-center" style="background-image: url(/assets/images/home/home-cta-bg.jpg);">
    <div class="overlap"></div>
    <div class="cta-signup-inner">
        <h4>Stay in Touch with Beach Terrace Inn</h4>
        <h2>Relax. Renew. Repeat.</h2>
        <div class="input-holder m-auto">
            <a href="https://signup.e2ma.net/signup/1862574/1405684/" class="white-shadow-white" onclick="window.open('https://signup.e2ma.net/signup/1862574/1405684/', 'signup', 'menubar=no, location=no, toolbar=no, scrollbars=yes, height=500'); return false;">Join our list</a>
        </div>
    </div>
</section>
<!--Exclusive newsletter signup section End-->
