
<section class="booking-widget-main p-0">
	<ul class="m-auto text-center">
		<li>
			<span>Arrival</span>
			<input type="text" id="input_14" placeholder="Arrival Date">
		</li>
		<li>
			<span>Departure</span>
			<input type="text" id="input_13" name="" placeholder="Departure Date">
		</li>
		<li>
			<span>Rooms</span>
			<select class="form-control">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>5</option>
			</select>
		</li>
		<li>
			<span>Adults</span>
			<select class="form-control fa fa-angle-down">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>5</option>
			</select>
		</li>
		<li>
			<span>Children</span>
			<select class="form-control fa fa-angle-down">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>5</option>
			</select>
		</li>
	</ul>
	<button>Check Availability</button>
</section>