<!-- custom booking widget start -->
<div class="booking-widget-main p-0">
    <form action="{{site.reztripUrl}}/search?" method="get" id="frmBookingWidget">
    <input ng-if="room.code" type="hidden" name="selected_room" value="[[room.code]]" />
	<ul class="m-auto text-center">
		<li>
			<span>Arrival</span>
            <input id="datepicker-arrival" class="datepicker-input" type="text" name="arrival_date" aria-label="Arrival Date" readonly>
		</li>
		<li>
			<span>Departure</span>
            <input id="datepicker-departure" class="datepicker-input"  type="text" name="departure_date" aria-label="Departure Date" readonly>
			<!-- <input type="text" id="input-13" name="Departure date" placeholder="Departure Date"> -->
		</li>
		<li class="rooms-holder" data-toggle="modal" data-target="#bookingWidgetRoomsModal">
			<span>Rooms</span>
			<input type="text" name="rooms" value="1">
		</li>
		<li class="adults-holder" data-toggle="modal" data-target="#bookingWidgetRoomsModal">
			<span>Adults</span>
			<input type="text" name="" value="1">
		</li>
		<li class="children-holder" data-toggle="modal" data-target="#bookingWidgetRoomsModal">
			<span>Children</span>
			<input type="text" name="" value="0">
		</li>
	</ul>
    <div class="reztrip-extra-adults-children" style="display:hidden">
        <input type="hidden" name="adults[]" value="1" />
        <input type="hidden" name="children[]" value="0" />
     </div>
	<button type="submit">Check Availability</button>

    </form>

</div>
<!-- custom booking widget end -->
<!--  Modal to get rooms adults children value-->
<div class="modal fade booking-widget-rooms" id="bookingWidgetRoomsModal" tabindex="-1" role="dialog" aria-labelledby="bookingWidgetRoomsLabel" aria-hidden="true">
 <div class="modal-dialog " role="document">
   <div class="modal-content booking-widget">
     <div class="modal-header">
       <h4 class="modal-title text-center">Rooms & Guests</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
         <div class="rooms-holder m-auto">
             <label >Rooms</label>
             <select role="listbox" tabindex="0" id="roomsselector" name="roomsCount" >
                 <option selected="selected" value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <!-- <option value="4">4 Rooms</option> -->
             </select>
         </div>
         <div class="adult-children">


            <div class="adult-children-inner m-0">
               <div id="adults-wrap" class="adults-wrap m-auto">
                   <label for="adults">Adults</label>
                   <select name="adults[]">
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>

                   </select>
               </div>
               <div id="children-wrap" class="children-wrap m-auto">
                   <label for="children">Children</label>
                   <select name="children[]">
                       <option value="0">0</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>

                   </select>
               </div>
           </div>
       </div>
       <div class="extra-adult-children"></div>
       <div class="text-center">
           <button aria-label="Done" type="button" class=" black" data-dismiss="modal">Done</button>
       </div>
     </div>

   </div>
 </div>
</div>
