{% assign links = site.data.navigation.main %}
<div class="footer-inner-wrap p-0">
    <div class="footer-inner m-0">
        <div class="footer-left p-0">
            <div class="footer-left-inner m-0">
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/footer-book-img.jpg" alt="Book"/>
                </div>
                <div class="image-sec p-0"></div>
            </div>
            <div class="footer-left-inner m-0">
                <div class="image-sec p-0"></div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/shades.jpg" alt="Shades"/>
                </div>
            </div>
            <div class="footer-left-inner m-0">
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/yoga-2.jpg" alt="Yoga"/>
                </div>
                <div class="image-sec p-0">
                    <div class="img-container bg-cover  instagram-pic-0">
                        <a href="/" target="_blank" rel="nofollow"><img src="/assets/images/insta-blank.png" alt="blank"/>
                        <div class="insta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        </a>
                    </div>
                </div>
                            <div class="footer-left-inner m-0">
                <div class="image-sec p-0"></div>
            </div>
           <div class="image-sec p-0"><img src="/assets/images/footer/family-pic.jpg" alt="Family"/></div>

        </div>
            </div>
        <div class="footer-center p-0 text-center">
            <div class="logo-sec">
                <img src="/assets/images/logo.svg" alt="Beach Terrace Inn">
            </div>
            <div class="footer-links">
                <ul class="p-0">
                    {% for link in links[0].left %}
                      <li class="nav-item {% if link.dropdown %} dropdown {% endif %}">
                            <a class="" href="{{ link.url | absolute_url }}" {% if link.dropdown %} aria-haspopup="true" aria-expanded="true" {% endif %}><span class="{% if page.url == link.url %} active {% endif%}">{{ link.title }}</span></a>
                        {% if link.dropdown %}
                        {% endif %}
                      </li>
                    {% endfor %}
                    {% for item in  links[1].right %}
                      <li class="nav-item {% if page.url == item.url %}active{% endif%}">
                            <a class="" href="{{item.url | absolute_url}}" title="{{ item.title }}"><span class="{% if page.url == item.url %}active{% endif%}">{{ item.title }} </span></a>
                      </li>
                      {% endfor %}
                      <li class="nav-item"><a href="/privacy-policy/" rel="nofollow">Privacy Policy</a></li>
                      <li class="nav-item"><a href="/terms/" rel="nofollow">Terms & Conditions</a></li>
                    <li class="nav-item"><a href="/sitemap/" rel="nofollow">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer-address">
                <p><a href="https://goo.gl/maps/oAgfrCrWcb52" target="_blank">2775 Ocean St. Carlsbad, CA, 92008</a> <br> <a href="tel:1 (760) 729 5951">1 (760) 729 5951</a><br><a href="tel:1 (800) 433 5415">1 (800) 433 5415</a></p>
                <ul class="social-media p-0">
                    <li><a href="https://www.facebook.com/beachterraceinn/" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/beachterraceinn/" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/+BeachTerraceInnCarlsbad/" rel="nofollow" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/beachterraceinn/" rel="nofollow" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/beachterraceinn" rel="nofollow" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right p-0">
            <div class="footer-right-inner m-0">
                <div class="image-sec p-0"></div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/skate.jpg" alt="Skate"/>
                </div>
            </div>
            <div class="footer-right-inner m-0">
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/penguins.jpg" alt="Penguins"/>
                </div>
                <div class="image-sec p-0">
                    <div class="img-container bg-cover instagram-pic-1">
                      <a href="/" target="_blank" rel="nofollow">  <img src="/assets/images/insta-blank.png" alt="blank"/>
                        <div class="insta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="footer-right-inner m-0">
                <div class="image-sec p-0">
                    <div class="img-container bg-cover instagram-pic-2">
                        <a href="/" target="_blank" rel="nofollow"><img src="/assets/images/insta-blank.png" alt="blank"/>
                        <div class="insta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        </a>
                    </div>
                    <div class="img-container bg-cover">
                        <img src="/assets/images/footer/star-fish.jpg" alt="Star fish"/>
                    </div>
                </div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/women.jpg" alt="Women"/>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-wrap m-0">
            <div class="copyright">
                <p class="m-0">© 2017 Beach Terrace Inn</p>
            </div>
            <div class="tt-sign">
                <a href="http://www.traveltripper.com/" target="_blank"><img src="/assets/images/travel-tripper.png" alt="Travel Tripper"/></a>
            </div>
        </div>
    </div>
</div>


<!-- 

<div class="footer-inner-wrap p-0">
    <div class="footer-inner m-0">
        <div class="footer-left p-0">
        </div>
        <div class="footer-center p-0 text-center">
            <div class="logo-sec">
                <a href="/"><img src="/assets/images/logo.svg" alt="Beach Terrace Inn"></a>
            </div>
            <div class="footer-links">
                <ul class="p-0">
                    {% for link in links[0].left %}
                      <li class="nav-item {% if link.dropdown %} dropdown {% endif %}">
                            <a class="" href="{{ link.url | absolute_url }}" {% if link.dropdown %} aria-haspopup="true" aria-expanded="true" {% endif %}><span class="{% if page.url == link.url %} active {% endif%}">{{ link.title }}</span></a>
                        {% if link.dropdown %}
                        {% endif %}
                      </li>
                    {% endfor %}
                    {% for item in  links[1].right %}
                      <li class="nav-item {% if page.url == item.url %}active{% endif%}">
                            <a class="" href="{{item.url | absolute_url}}" title="{{ item.title }}"><span class="{% if page.url == item.url %}active{% endif%}">{{ item.title }} </span></a>
                      </li>
                      {% endfor %}
                      <li class="nav-item"><a href="/privacy-policy/" rel="nofollow">Privacy Policy</a></li>
                      <li class="nav-item"><a href="/terms/" rel="nofollow">Terms & Conditions</a></li>
                    <li class="nav-item"><a href="/sitemap/" rel="nofollow">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer-address">
                <p><a href="https://goo.gl/maps/oAgfrCrWcb52" target="_blank">2775 Ocean St.<br>Carlsbad, CA, 92008</a><a href="tel:1 (760) 729 5951">1 (760) 729 5951</a><br><a href="tel:1 (800) 433 5415">1 (800) 433 5415</a></p>
                <ul class="social-media p-0">
                    <li><a href="https://www.facebook.com/beachterraceinn/" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/beachterraceinn/" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/+BeachTerraceInnCarlsbad/" rel="nofollow" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/beachterraceinn/" rel="nofollow" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/beachterraceinn" rel="nofollow" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right p-0">

        
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-wrap m-0">
            <div class="copyright">
                <p class="m-0">© 2017 Beach Terrace Inn</p>
            </div>
            <div class="tt-sign">
                <a href="http://www.traveltripper.com/" target="_blank"><img src="/assets/images/travel-tripper.png" alt="Travel Tripper"/></a>
            </div>
        </div>
    </div>
</div>
 -->
