<div class="footer-inner-wrap p-0">
    <div class="footer-inner m-0">
        <div class="footer-left p-0">
            <div class="footer-left-inner m-0">
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/footer-book-img.jpg" alt="Book"/>
                </div>
                <div class="image-sec p-0"></div>
            </div>
            <div class="footer-left-inner m-0">
                <div class="image-sec p-0"></div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/shades.jpg" alt="Shades"/>
                </div>
            </div>
            <div class="footer-left-inner m-0">
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/yoga.jpg" alt="Yoga"/>
                </div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/beach-view.jpg" alt="Beach view"/>
                    <div class="insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="footer-left-inner m-0">
                <div class="image-sec p-0"></div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/family-pic.jpg" alt="Family"/>
                </div>
            </div>
        </div>
        <div class="footer-center p-0 text-center">
            <div class="logo-sec">
                <img src="/assets/images/logo.svg" alt="Beach Terrace Inn">
            </div>
            <div class="footer-links">
                <ul class="p-0">
                    <li><a href="#">about</a></li>
                    <li><a href="#">carlsbad</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Rooms</a></li>
                    <li><a href="#">Weddings</a></li>
                    <li><a href="#">meetings</a></li>
                </ul>
            </div>
            <div class="footer-address">
                <p>2775 Ocean St, Carlsbad, CA 92008 USA<br>1 (760) 729 5951<br>1 (800) 433 5415</p>
                <ul class="social-media p-0">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right p-0">
            <div class="footer-right-inner m-0">
                <div class="image-sec p-0"></div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/skate.jpg" alt="Skate"/>
                </div>
            </div>
            <div class="footer-right-inner m-0">
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/penguins.jpg" alt="Penguins"/>
                </div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/pool.jpg" alt="Pool"/>
                    <div class="insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="footer-right-inner m-0">
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/bedroom.jpg" alt="Bedroom"/>
                    <div class="insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                    <img src="/assets/images/footer/star-fish.jpg" alt="Star fish"/>
                </div>
                <div class="image-sec p-0">
                    <img src="/assets/images/footer/women.jpg" alt="Women"/>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-wrap m-0">
            <div class="copyright">
                <p class="m-0">© 2017 Beach Terrace Inn</p>
            </div>
            <div class="tt-sign">
                <img src="/assets/images/travel-tripper.png" alt="Travel Tripper"/>
            </div>
        </div>
    </div>
</div>
