<!-- more rooms start -->
<section class="home-rooms text-center"> 
	<h3>Browse Rooms</h3>
    <div class="home-rooms-inner">
      <div> 
      		<h5 class="room-title">Room 1</h5>
            <img src="/assets/images/rooms/room1.jpg" class="img-fluid" alt="slide"> 
            <div class="caption m-0">
            	<div class="content-part p-0 text-left">
            		<h5>tonight’s rate $ 420</h5>
            		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            	</div>
            	<div class="btns-part p-0">
            		<a href="#" title="Book Now" class="black">book now</a><br>
            		<a href="#" title="View Room" class="border-black">view room</a>
            	</div>
            </div>
      </div>
      <div> 
      		<h5 class="room-title">Room 2</h5>
            <img src="/assets/images/rooms/room1.jpg" class="img-fluid" alt="slide">
            <div class="caption m-0">
            	<div class="content-part p-0 text-left">
            		<h5>Room 2</h5>
            		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            	</div>
            	<div class="btns-part p-0">
            		<a href="#" title="Book Now" class="black">book now</a><br>
            		<a href="#" title="View Room" class="border-black">view room</a>
            	</div>
            </div>
       </div>
      <div> 
      	   <h5 class="room-title">Room 3</h5>
           <img src="/assets/images/rooms/room3.jpg" class="img-fluid" alt="slide">
           <div class="caption m-0">
            	<div class="content-part p-0 text-left">
            		<h5>Room 3</h5>
            		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            	</div>
            	<div class="btns-part p-0">
            		<a href="#" title="Book Now" class="black">book now</a><br>
            		<a href="#" title="View Room" class="border-black">view room</a>
            	</div>
            </div>
      </div> 
    </div> 
</section>
<!-- more rooms end -->