<div class="assets-slide">
	<div class="assets-slide-inner">
		<div class="slide">
			<h4>Room 01</h4>
			<div class="image" style="background: url(/assets/images/offers/beach_terrace_inn_offer_1.jpg); " title="Offer 01">
			</div>
			<a href="" class="white-shadow-yellow" title="View Special">
				View Special
			</a>
		</div>
		<div class="slide">
			<h4>Room 01</h4>
			<div class="image" style="background: url(/assets/images/offers/beach_terrace_inn_offer_1.jpg); " title="Offer 01">
			</div>
			<a href="" class="white-shadow-yellow" title="View Special">
				View Special
			</a>
		</div>
	</div>
</div>