<!-- header start -->
{% assign links = site.data.navigation.main %}
<a href="#" class="booknow" show-booking-widget>BOOK NOW</a>
<nav class="navbar navbar-expand-lg  navbar-light">
  <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
   <div class="brand-centered">
   <a  class="navbar-brand self-align-center" href="/" title="Beach
Terrace inn"><img src="/assets/images/logo.svg" alt="{{ site.title }}"></a></div>

  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto npl npt">
    {% for link in links[0].left %}
      <li class="nav-item {% if link.dropdown %} dropdown {% endif %}">
        <a class="nav-link" href="{{ link.url | absolute_url }}" {% if link.dropdown %} aria-haspopup="true" aria-expanded="true" {% endif %}><span class="{% if page.url == link.url %} active {% endif%}">{{ link.title }}</span></a>
        {% if link.dropdown %}
        <ul class="dropdown-menu" role="menu">
            {% for sublink in link.dropdown %}
            <li><a href="{{ sublink.url }}" title="{{ sublink.title }}">{{ sublink.title }} </a></li>
            {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    <ul class="navbar-nav ml-auto npr">
          {% for item in  links[1].right %}
          <li class="nav-item {% if page.url == item.url %}active{% endif%}">
        <a class="nav-link" href="{{item.url | absolute_url}}" title="{{ item.title }}"><span class="{% if page.url == item.url %}active{% endif%}">{{ item.title }} </span></a>
          </li>
          {% endfor %}
        </ul>
  </div>
</nav>
<!-- header end -->
