{% if page.url contains 'contact' %}
  {% assign map = true %}
{% endif %}

{% if map == true %}
  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Leaflet Settings -->
  <script>
    // Create map object, assign it to the 'map' div, give initial latitude, longitude and zoom values.
    var map = L.map('map', {scrollWheelZoom:false}).setView([33.159199, -117.354283], 15);

    // Add base map tiles from Carto CDN - Voyager Theme
  L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/pitney-bowes-grey/{z}/{x}/{y}.png', {
    attribution:'&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution/">CARTO</a>',
    maxZoom: 20,
    minZoom: 0,
  }).addTo(map);

    // Create a custom marker icon.
    var hotelIcon = L.icon({
      iconUrl: '/assets/images/leaflet/logo-icon.png',
      iconSize: [60, 72],
    });

    // Create a default marker object, pass custom icon as an option, add it to the map.
    var marker = L.marker([33.159199, -117.354283], {icon:hotelIcon}).addTo(map);

    // Bind a popup to the default marker.
    marker.bindPopup('<a href="https://goo.gl/maps/pgtZMnE6n7x" target="_blank">Beach Terrace Inn <br> 2775 Ocean St. Carlsbad, CA, 92008</a>');
  </script>
{% endif %}

{% include scripts/ipify.html %}

<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
<!-- plugin booking widget -->
<script src="https://plugins.traveltripper.io/v2/rt3api.min.js"></script>
<script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>
<script>
  TTWeb.Config.configure({
    hotelId: 'CABTI', //'orwhatever your values are',
    portalId: 'beachterraceinn',
    defaultTimezone: 'America/New_York', // timezone of site
    ipAddress: sessionStorage.ip_add,
    defaultCurrency: 'USD',
    //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
  });

  $("[show-booking-widget]").bookingWidget({
      // showRateCalendar: true,
       showOfferCode: true
  });
  // remove target attr of booking widget form to open it in same window.
  $(".ttweb-booking-widget form").removeAttr('target');

  // Call the rezGallery function to show offers inside the gallery
  $('#lightgallery').rezGallery();
{% if page.url != '/something-awesome/' %}
  {% assign versatile = site.data.versatile-popup %}
  var popup = new ttPlugin.versatileCard({
      header: '{{ versatile.title }}',
      body: '{{ versatile.body }}',
      footer: '<a href="{{ versatile.cta_link }}" target="_blank">{{ versatile.cta_text }}</a>',
      showOnLoad: true,
      globalName: 'versatile-unlock-offer-popup',
      customVisible: true
    });
    popup.init();
    {% endif %}
</script>

{% include scripts/instafeed.html %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ '/assets/js/ie10-viewport-bug-workaround.js' | absolute_url }}"></script>
