{% if site.data.api-keys.maps.google.enabled != false %}
    <script async defer src="https://maps.google.com/maps/api/js?key={{ site.data.api-keys.maps.google.api_key }}"></script>
{% endif %}

{% include scripts/ipify.html %}

<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
<!-- plugin booking widget -->
<script src="https://plugins.traveltripper.io/v2/rt3api.min.js"></script>
<script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>
<script>
  TTWeb.Config.configure({
    hotelId: 'CABTI', //'orwhatever your values are',
    portalId: 'beachterraceinn',
    defaultTimezone: 'America/New_York', // timezone of site
    ipAddress: sessionStorage.ip_add,
    defaultCurrency: 'USD',
    //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
  });

  $("[show-booking-widget]").bookingWidget({
      // showRateCalendar: true,
       showOfferCode: true
  });
  // remove target attr of booking widget form to open it in same window.
  $(".ttweb-booking-widget form").removeAttr('target');
</script>

{% include scripts/instafeed.html %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ '/assets/js/ie10-viewport-bug-workaround.js' | absolute_url }}"></script>
