<!-- special offers start -->
<section rt3-special-rates="offers">
	<div class="more-offers">
		<h3> Special Offers </h3>
		<div class="assets-slide">
			<div class="assets-slide-inner">
				<div class="slide" ng-repeat="offer in offers.special_rates">
					<div class="image" ng-style="{'background-image': 'url([[offer.images[0].large || '/assets/images/dummy.jpg' ]])'}"  title="[[offer.rate_plan_name]]">
					</div>
					<h4  ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h4>
					<p ng-bind-html="offer.short_description | renderHTMLCorrectly"></p>
					<a ng-href="[[offer.promo_url]]" target="_blank" class="text-btn" title="View Special">
						Check Rate
					</a>
					<a ng-href="/offer-details/#[[ offer.rate_plan_name | formatNameForLink ]]" class="white-shadow-yellow" title="View Special">
						View Special
					</a>
				</div>

				
			</div>
		</div>
	</div>
</section>
<!-- special offers end -->
