<!-- special offers start -->
<section>
	<div class="more-offers">
		<h3> Special Offers </h3>
		<div class="assets-slide">
			<div class="assets-slide-inner">
				<div class="slide">
					<div class="image" style="background-image: url(/assets/images/offers/beach_terrace_inn_offer_1.jpg); " title="Offer 01">
					</div>
					<h4>offer 01</h4>
					<p>Sed ut perspiciatis unde omnis iste natus.</p>
					<a href="" class="text-btn" title="View Special">
						Check Rate
					</a>
					<a href="" class="white-shadow-yellow" title="View Special">
						View Special 
					</a>
				</div>
				<div class="slide">
					<div class="image" style="background-image: url(/assets/images/offers/beach_terrace_inn_offer_2.jpg); " title="Offer 02">
					</div>
					<h4>offer 02</h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
					<a href="" class="text-btn" title="View Special">
						Check Rate
					</a>
					<a href="" class="white-shadow-yellow" title="View Special">
						View Special 
					</a>
				</div>
				<div class="slide">
					<div class="image" style="background-image: url(/assets/images/offers/beach_terrace_inn_offer_3.jpg); " title="Offer 03">
					</div>
					<h4>offer 03</h4>
					<p>Sed ut perspiciatis unde omnis iste natus.</p>
					<a href="" class="text-btn" title="View Special">
						Check Rate 
					</a>
					<a href="" class="white-shadow-yellow" title="View Special">
						View Special 
					</a>
				</div>
				<div class="slide">
					<div class="image" style="background-image: url(/assets/images/offers/beach_terrace_inn_offer_1.jpg); " title="Offer 01">
					</div>
					<h4>offer 01</h4>
					<p>Sed ut perspiciatis unde omnis iste natus.</p>
					<a href="" class="text-btn" title="View Special">
						Check Rate
					</a>
					<a href="" class="white-shadow-yellow" title="View Special">
						View Special 
					</a>
				</div>
				<div class="slide">
					<div class="image" style="background-image: url(/assets/images/offers/beach_terrace_inn_offer_2.jpg); " title="Offer 02">
					</div>
					<h4>offer 02</h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
					<a href="" class="text-btn" title="View Special">
						Check Rate
					</a>
					<a href="" class="white-shadow-yellow" title="View Special">
						View Special 
					</a>
				</div>
				<div class="slide">
					<div class="image" style="background-image: url(/assets/images/offers/beach_terrace_inn_offer_3.jpg); " title="Offer 03">
					</div>
					<h4>offer 03</h4>
					<p>Sed ut perspiciatis unde omnis iste natus.</p>
					<a href="" class="text-btn" title="View Special">
						Check Rate 
					</a>
					<a href="" class="white-shadow-yellow" title="View Special">
						View Special 
					</a>
				</div>
			</div>
		</div>
	</div>	
</section>
<!-- special offers end -->