// .price-wrap {
//   bottom: 15%;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   font-family: $global-font-family;
//   z-index: 100;
//   @media (max-width: 768px) {
//     bottom: 0;
//   }
//   @media (min-width: 768px) {
//     position: absolute;
//   }
//
//   .best-rate-ota {
//     box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
//     max-width: 680px;
//     width: 100%;
//     min-height: 80px;
//     left: calc(50% - 300px);
//     display: table;
//     background: $black;
//     margin: 0 auto;
//     @media(max-width: 767px) {
//       width: 100%;
//       bottom: 0;
//     }
//
//     .boxes {
//       position: relative;
//
//       .tonight-rate {
//         height: 100%;
//         width: 38%;
//         min-height: 80px;
//         padding: 10px 20px;
//         float: left;
//
//         p {
//           font-size: 12px;
//           color: #777777;
//           line-height: 16px;
//           margin: 0;
//           padding: 0;
//           text-align: left;
//           @media(max-width:350px) {
//             display: none;
//           }
//         }
//
//         h4 {
//           font-size: 16px;
//           line-height: 30px;
//           margin: 0;
//           padding: 0;
//           text-align: left;
//           color: $white;
//
//           .price {
//             color: $white;
//             font-size: 30px;
//             float: right;
//             @media(max-width:350px) {
//               display: inline-block;
//               float: none;
//               margin-top: 10px;
//             }
//           }
//           @media(max-width:350px) {
//             line-height: 20px;
//           }
//         }
//       }
//
//       .ota-list {
//         float: right;
//         width: 61.7%;
//         min-height: 80px;
//         padding: 10px 20px;
//         border-left: 1px solid $background-color;
//
//         ul {
//           width: 100%;
//           padding: 0;
//           list-style-type: none;
//
//           li {
//             display: inline-block;
//             width: 45%;
//             // padding: 0 10px 0 0;
//             margin: 3px;
//             padding: 2px;
//             font-size: 15px;
//             color: $background-color;
//             border-bottom: 1px solid $background-color;
//
//             span {
//               padding-left: 4px;
//               text-decoration: line-through;
//               color: $white;
//             }
//
//             &:nth-child(even) {
//               margin-left: 20px;
//               @media(max-width: 768px) {
//                 margin: 0;
//               }
//             }
//             @media(max-width: 768px) {
//               width: inherit;
//             }
//           }
//         }
//       }
//     }
//   }
// }
//
// .caption-price {
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 100;
//   display: none;
//   text-align: center;
//   text-transform: none;
//   @media(max-width: 767px) {
//     bottom: 0;
//     background-color: $black;
//     border-bottom: 1px solid #777;
//   }
//   @media (min-width: 768px) {
//     position: absolute;
//   }
// }
//
// .price-holder {
//   display: inline-block;
//   margin-right: -2px;
//   padding: 8px 20px;
//   font-family: $global-font-family;
//   font-size: 18px;
//   color: $white;
//   letter-spacing: 1px;
//   vertical-align: middle;
//   background-color: $black;
//   @media (max-width: 1023px) {
//     padding: 6px 10px;
//     font-size: 11px;
//   }
//
//   span {
//     padding-right: 18px;
//     font-size: 30px;
//     color: $white;
//     vertical-align: middle;
//     @media (max-width: 1023px) {
//       padding-right: 8px;
//       font-size: 25px;
//     }
//   }
//   @media(max-width: 768px) {
//     &.tonight {
//       margin-top: 1px;
//     }
//   }
// }




.homeBannerWidget {
  right: 0;
  bottom: 3px;
  left: 0;
  z-index: 10;
  @media(max-width: 767px) {
    bottom: 0;
  }
  @media (min-width: 767px) {
    position: absolute;
  }
  .scarcity-price {
    display: none;
    text-align: center;
    text-transform: none;

    // @media(min-width: 768px) {
    //   margin-bottom: 30px;
    // }
  }

  .price-holder,
  .scarcity-holder {
    display: inline-block;
    margin-right: -2px;
    padding: 1px 20px;
    font-family: $global-font-family;
    font-size: 15px;
    color: $white;
    letter-spacing: 1px;
    vertical-align: middle;
    background-color: $black;
    @media (max-width: 1023px) {
      padding: 6px 10px;
      font-size: 14px;
    }

    span {
      padding-right: 18px;
      font-size: 30px;
      font-weight: bold;
      color: $white;
      vertical-align: middle;
      @media (max-width: 1023px) {
        padding-right: 8px;
        font-size: 25px;
      }
    }
    @media(max-width: 767px) {
      &.tonight {
        display: none;
      }
    }
    .tonightPrice {
      font-family: $global-font-family;
      font-size: 30px;
      //font-style: italic;
      color: $white;
    }
  }

  .brg-price {

    display: none;
    // margin: 0 auto;
    margin-bottom: 22px;
    font-family: $global-font-family;
    @media(max-width: 768px) {
      margin-bottom: 1px;
      //border-bottom: 1px solid #ccc;
  	}

    .best-rate-ota {
      left: calc(50% - 300px);
      display: table;
      width: 100%;
      max-width: 660px;
      min-height: 80px;
      margin: 0 auto;
      background: $black;
      color: $white;
      // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      @media(max-width: 768px) {
        bottom: 0;
        width: 100%;
      }

      .boxes {
        position: relative;

        .brg-tonight-rate {
          float: left;
          width: 38%;
          height: 100%;
          min-height: 80px;
          padding: 16px;

          p {
            margin: 0;
            padding: 0;
            font-size: 12px;
            line-height: 10px;
            color: #777;
            text-align: left;
            @media(max-width: 350px) {
              display: none;
            }
          }

          h4 {
            margin: 0;
            padding: 0;
            font-family: $global-font-family;
            font-size: 18px;
            line-height: 30px;
            color: #fff;
            text-align: left;
            text-transform: none;
            letter-spacing: .01em;

            .price {
              float: right;
              font-family: $global-font-family;
              font-size: 30px;
              //font-style: italic;
              color: $white;
              p {
                margin-top: 1px;
                font-style: normal;
                text-align: center;
              }
              @media(max-width: 350px) {
                display: inline-block;
                float: none;
                margin-top: 10px;
              }
            }
            @media(max-width: 350px) {
              line-height: 20px;
            }
          }
        }

        .ota-list {
          float: right;
          width: 61.7%;
          min-height: 80px;
          padding: 12px 20px;
          border-left: 1px solid #ccc;

          ul {
            width: 100%;
            margin-bottom: 0;
            padding: 0;
            list-style-type: none;

            li {
              display: inline-block;
              width: 45%;
              margin: 0;
              padding: 0 10px 0 0;
              font-size: 16px;
              color: $white;;
              border-bottom: 1px solid #ccc;

              span {
                padding-left: 4px;
                //color: #280071;
                text-decoration: line-through;
              }

              &:nth-child(even) {
                margin-left: 20px;
                @media(max-width: 768px) {
                  margin: 0;
                }
              }
              @media(max-width: 768px) {
                width: inherit;
              }
            }
          }
        }
      }
    }
  }
}
