@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('/assets/fonts/brandon_bld-webfont.eot');
    src: url('/assets/fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('/assets/fonts/brandon_bld-webfont.woff') format('woff'),
         url('/assets/fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('/assets/fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('/assets/fonts/brandon_med-webfont.eot');
    src: url('/assets/fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/brandon_med-webfont.woff2') format('woff2'),
         url('/assets/fonts/brandon_med-webfont.woff') format('woff'),
         url('/assets/fonts/brandon_med-webfont.ttf') format('truetype'),
         url('/assets/fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('/assets/fonts/brandon_reg-webfont.eot');
    src: url('/assets/fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('/assets/fonts/brandon_reg-webfont.woff') format('woff'),
         url('/assets/fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('/assets/fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eleganticonsregular';
    src: url('/assets/fonts/eleganticons-webfont.eot');
    src: url('/assets/fonts/eleganticons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/eleganticons-webfont.woff2') format('woff2'),
         url('/assets/fonts/eleganticons-webfont.woff') format('woff'),
         url('/assets/fonts/eleganticons-webfont.ttf') format('truetype'),
         url('/assets/fonts/eleganticons-webfont.svg#eleganticonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_flexbold';
    src: url('/assets/fonts/euclidflex-bold_0-webfont.eot');
    src: url('/assets/fonts/euclidflex-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/euclidflex-bold_0-webfont.woff2') format('woff2'),
         url('/assets/fonts/euclidflex-bold_0-webfont.woff') format('woff'),
         url('/assets/fonts/euclidflex-bold_0-webfont.ttf') format('truetype'),
         url('/assets/fonts/euclidflex-bold_0-webfont.svg#euclid_flexbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_flexlight';
    src: url('/assets/fonts/euclidflex-light_1-webfont.eot');
    src: url('/assets/fonts/euclidflex-light_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/euclidflex-light_1-webfont.woff2') format('woff2'),
         url('/assets/fonts/euclidflex-light_1-webfont.woff') format('woff'),
         url('/assets/fonts/euclidflex-light_1-webfont.ttf') format('truetype'),
         url('/assets/fonts/euclidflex-light_1-webfont.svg#euclid_flexlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_flexregular';
    src: url('/assets/fonts/euclidflex-regular_1-webfont.eot');
    src: url('/assets/fonts/euclidflex-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/euclidflex-regular_1-webfont.woff2') format('woff2'),
         url('/assets/fonts/euclidflex-regular_1-webfont.woff') format('woff'),
         url('/assets/fonts/euclidflex-regular_1-webfont.ttf') format('truetype'),
         url('/assets/fonts/euclidflex-regular_1-webfont.svg#euclid_flexregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sangbleu_bptestfont_sanslight';
    src: url('/assets/fonts/sangbleubptestfontsans_light-webfont.eot');
    src: url('/assets/fonts/sangbleubptestfontsans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/sangbleubptestfontsans_light-webfont.woff2') format('woff2'),
         url('/assets/fonts/sangbleubptestfontsans_light-webfont.woff') format('woff'),
         url('/assets/fonts/sangbleubptestfontsans_light-webfont.ttf') format('truetype'),
         url('/assets/fonts/sangbleubptestfontsans_light-webfont.svg#sangbleu_bptestfont_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}