/*
   Mixins
   ========================================================================== */


/* Vertical Center (Includes IE9) */

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin text-formatting($font-family, $font-size, $font-weight, $line-height, $letter-spacing, $text-transform, $font-color, $font-style){
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	letter-spacing: $letter-spacing;
	text-transform: $text-transform;
	color: $font-color;
	line-height: $line-height;
	font-style: $font-style;
}
@mixin transition-time($time) {
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	-ms-transition: all $time;
	transition: all $time;
}

@mixin box-shadow($color) {
	box-shadow: 6px 6px 0px 0px $color;
	-ms-box-shadow: 6px 6px 0px 0px $color;
	-o-box-shadow: 6px 6px 0px 0px $color;
	-webkit-box-shadow: 6px 6px 0px 0px $color;
	-moz-box-shadow: 6px 6px 0px 0px $color;
}

@mixin transform-rotate($deg) {	
	-webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}