/*
   Mixins
   ========================================================================== */

@mixin text-formatting($font-family, $font-size, $font-weight, $line-height, $letter-spacing, $text-transform, $font-color, $font-style) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    color: $font-color;
    line-height: $line-height;
    font-style: $font-style;
}

@mixin transition-time($time) {
    -webkit-transition: all $time;
    -moz-transition: all $time;
    -o-transition: all $time;
    -ms-transition: all $time;
    transition: all $time;
}

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    -o-box-shadow: $top $left $blur $color;
    -ms-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

@mixin transform-rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin transform-translate($left, $top) {
    -webkit-transform: translate($left, $top);
    -moz-transform: translate($left, $top);
    -o-transform: translate($left, $top);
    -ms-transform: translate($left, $top);
    transform: translate($left, $top);
}

@mixin linearGradient($top, $value, $bottom, $value-1) {
    background: $top;
    /* Old browsers */
    background: -moz-linear-gradient(left, $top, $value, $bottom, $value-1);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $top, $value, $bottom $value-1);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $top, $value, $bottom $value-1);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $top, $value, $bottom $value-1);
    /* IE10+ */
    background: linear-gradient(to right, $top, $value, $bottom $value-1);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

/* Vertical Center (Includes IE9) */

@mixin vertical-center() {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Custome container width
@mixin container-fix() {
    @include make-container();
    max-width: 1315px;
    position: relative;
}

// Intro container width
@mixin intro() {
    @include container-fix();
    .intro-wrap,.images-tow {
        @include make-row();
        ._left{
            @include make-col-ready();
            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
            .text-section{
                @include vertical-center();
                padding: 0;
                width: 100;
                @include media-breakpoint-up(lg) {
                    padding: 0 0 0 60px;
                    width: 75%;
                }
                @include media-breakpoint-up(xl) {
                    width: 70%;
                }
                p{
                    border-top: 3px solid $line-bg;
                    padding-top:36px;
                    &:last-child{
                        margin-top:40px;
                        width:100%;
                        font-family:$secondary-font-bold;
                        margin-bottom:50px;
                        @include media-breakpoint-up(lg) {
                            margin-bottom:0;
                            margin-top:70px;
                            width:90%;
                        }
                        @include media-breakpoint-up(xl) {
                            width:55%;
                            margin-top:140px;
                        }
                    }
                }
                a{
                    display:block;
                    margin-top:30px;
                    @include media-breakpoint-up(xl) {
                        margin-top:60px;
                    }
                }

            }
        }
        ._right{
            @include make-col-ready();
            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
            .image-section{
                margin-left: 0px;
                padding-right: 0px;
                @include media-breakpoint-up(lg) {
                    margin-left: -112px;
                    padding-right: 100px;
                }
                img{
                    width:100%;
                }
                .image-sec-header{
                    margin: 0;
                    @include media-breakpoint-up(lg) {
                        margin: -42px 0 0 90px;
                    }
                }
            }
            .images{
                @include make-col-ready();
                @include media-breakpoint-up(lg) {
                    @include make-col(6);
                }
                img{
                        width:100%;
                }  
            }
        }
    }
}

// more sliders 
@mixin more-sliders(){
    .assets-slide{
        @include container-fix();
    }
    .assets-slide-inner{
        @include make-row();
    }
    .slide {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
        .image {
            min-height: 406px;
            @extend .bg-cover;
        }
        .image-small {
            min-height: 260px;
            @extend .bg-cover;
        }
        h4{
            font-family: $primary-font-regular;
            font-size: $type-size-5;
            text-transform: uppercase;
            letter-spacing: 1.7px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 75ch;
            @include media-breakpoint-up(lg) {
                margin-bottom: 33px;
                margin-top: 60px;
            }
             @include media-breakpoint-up(mg) {
                margin-bottom: 20px;
                margin-top: 30px;
            }
        }
        p{
            font-family: $secondary-font-regular;
            min-height: auto;
            @include media-breakpoint-up(md) {
                min-height: 76px;
            }
        }
        .white-shadow-yellow {
            @include media-breakpoint-down(md) {
                margin-bottom: 1.75rem;
            }
        }
    }
    .slick-prev {
        width: 60px;
        position: absolute;
        z-index: 11;
        align-items: center;
        justify-content: center;
        left:34px;
         @include media-breakpoint-up(md) {
            left:34px;
        }
        @include media-breakpoint-up(lg) {
            left:1px;
        }
        @include media-breakpoint-up(xl) {
            left:-10px;
        }
       
        &:before {
            content: '#';
             width: 60px;
            font-family: $icons-font;
            display: block;
            background-color: $line-bg;
            color: $arrow-color;
            font-size: $type-size-3;
            padding:10px;
            @include media-breakpoint-down(lg) {
                padding:10px;
            }
        }
    }
    .slick-next {
        width: 60px;
        position: absolute;
        z-index: 11;
        right:20px;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down(md) {
            right:30px;
        }
        @include media-breakpoint-up(lg) {
            right:1px;
        }
         @include media-breakpoint-up(xl) {
            right:-10px;
        }
        &:before {
            content: '$';
            width: 60px;
            font-family: $icons-font;
            display: block;
            background-color: $line-bg;
            color: $arrow-color;
            font-size: $type-size-3;
            padding:10px;
            @include media-breakpoint-down(lg) {
               
            }
        }
    }
}    

// assets content common
@mixin assets-content() {
    width: 72%;
    margin: 0 auto;
    @include vertical-center();
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
    h4 {
        font-family: $primary-font-regular;
        padding-bottom: 15px;
        margin-bottom: 18px;
        border-bottom: 3px solid $line-bg;
    }
    h5 {
        padding-bottom: 40px;
        a{
            color:$text-color;
        }
    }
    p {
        padding-bottom: 50px;
    }
    .btn-holder {
        a {
            &:first-child {
                margin-right: 50px;
            }
        }
    }
}