/*
   Temporary Styles
   ========================================================================== */

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Vertical Center (Includes IE9) */
.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
   Headings and paragraph styles
   ========================================================================== */

p {
    @include text-formatting($form-font, $type-size-8, normal, 1.875rem, normal, none, $text-color, normal);
}
h2 {
    @include text-formatting($highlight-font, $type-size-1, normal, 6.5rem, 1px, uppercase, $text-color, normal);
    @include media-breakpoint-down(lg) {
        font-size: 3.438rem;
        line-height: 4.375rem;
    }
    @include media-breakpoint-down(md) {
        font-size: $type-size-3;
        line-height: 3.5rem;
    }
}
h3 {
    @include text-formatting($primary-font-regular, $type-size-3, normal, 2.5rem, 1px, uppercase, $text-color, normal);
}
h4 {
    @include text-formatting($primary-font-bold, $type-size-5, normal, normal, 1px, uppercase, $text-color, normal);
}
h5 {
    @include text-formatting($primary-font-bold, $type-size-8, normal, normal, 2px, uppercase, $text-color, normal);
}

/*
   Button styles
   ========================================================================== */

.common-btn {
    @include text-formatting($primary-font-bold, $type-size-9, normal, normal, 2px, uppercase, $text-color, normal);
    @include box-shadow(6px, 6px, 0px, $line-bg);
    background-color: $white;
    padding: 10px 0;
    border: 1px solid transparent;
    width: 174px;
    text-align: center;
    display: inline-block;
    font-family: $primary-font-bold;
    &:hover {
        text-decoration: none;
        background-color: $black;
        color:$white;
    }
}
.border-black {
    @extend .common-btn;
    border: 1px solid $black;
}
.white-shadow-yellow {
    @extend .border-black;
    @include box-shadow(6px, 6px, 0px, $primary-bg);
}
.white-shadow-white {
    @extend .border-black;
    @include box-shadow(6px, 6px, 0px, $white);
    color: $black;
    background-color: $white;
}
.black-shadow-yellow {
    @extend .white-shadow-yellow;
    background-color: $black;
    color: $white;
}
.black-white-shadow {
    @extend .black-shadow-yellow;
    @include box-shadow(6px, 6px, 0px, $white);
}
.black {
    @extend .border-black;
    background-color: $black;
    color: $white;
    &:hover{
        background-color:$white;
        color:$black;
    }
}
.text-btn {
    @extend .common-btn;
    box-shadow: none;
    display: block;
    margin: 0.55rem 0rem;
    text-align: left;
    @include  media-breakpoint-up(md) {
        margin: 1.25rem 0rem;
    } 
    &:hover{
        background-color:transparent;
        color:$black;
    }
}

/*
   CTA Section Styles
   ========================================================================== */

.cta-sec-main {
    @extend .container;
    height: 742px;
    margin: 63px auto;
    .cta-sec-inner {
        @extend .vertical-center;
        h4 {
            color: $white;
            padding-bottom: 100px;
        }
        h2 {
            color: $white;
            padding-bottom: 80px;
        }
        .input-holder {
            position: relative;
            width: 300px;
            @include media-breakpoint-up(sm) { width: 385px; }
            input {
                background-color: $white-70;
                @extend p;
                font-size: $type-size-5;
                width: 100%;
                border: 0;
                padding: 12px 20px;
                margin: 0;
            }
            button {
                position: absolute;
                width: 26px;
                height: 15px;
                right: 24px;
                top: 4px;
                color: $text-color;
                border: 0;
                background-color: transparent;
                cursor:pointer;
                span{
                	color:$text-color;
                }
            }
        }
    }
}

/*
icons font
=================*/

.e-icon {
    font-family: $icons-font;
    font-size: $type-size-3;
    vertical-align: middle;
    margin: 0 1rem;
    vertical-align: middle;
}

//icons style
.social_facebook,
.social_twitter,
.social_pinterest,
.social_googleplus,
.social_instagram,
.icon-star {
    font-family: $icons-font;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.social_facebook:before {
    content: "\e093";
}

.social_twitter:before {
    content: "\e094";
}

.social_pinterest:before {
    content: "\e095";
}

.social_googleplus:before {
    content: "\e096";
}

.social_instagram:before {
    content: "\e09a";
}

.icon-star:before {
    content: "\e033";
}

/*
   Yellow box style
   ========================================================================== */

.yellow-box {
    width: 422px;
    height: 295px;
    background-color: $primary-bg;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*
More offers
==================================*/

.more-offers {
    margin-bottom: 3.75rem;
    h3 {
        @extend h3;
        font-weight: lighter;
        font-size: $type-size-4;
        margin: 1.75rem auto;
        @extend .text-center;
        @include media-breakpoint-up(md) {
            font-size: $type-size-2;
            margin: 3.75rem auto;
        }
    }
    .offers-container {
        @extend .container;
    }
    .offers-inner {
        @include make-row();
    }
    .offer {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
        .m-offer-pic {
            min-height: 406px;
            background-size: cover !important;
            margin-bottom: 1.75rem;
            background-repeat: no-repeat;
             @include media-breakpoint-up(md){
                margin-bottom: 3.75rem;
             }
        }
        .m-offer-title {
            font-family: $primary-font-regular;
            font-size: $type-size-5;
            text-transform: uppercase;
            letter-spacing: 1.7px;
        }
        p {
            font-family: $secondary-font-regular;
              min-height: auto;
            @include media-breakpoint-up(md){
                min-height: 76px;
            }
            @extend .pt-3;
        }
        .white-shadow-yellow{
           @include media-breakpoint-down(md){ 
            margin-bottom: 1.75rem;
            }
        }
    }
}

/*
   Offers rooms page banner CSS
   ========================================================================== */

.inner-banner{
    @extend .container;
    @extend .bg-cover;
    margin-top: 56px;
    min-height:451px;
    @include media-breakpoint-down(md) {
        min-height: 300px;
    }
    .inner-banner-title{
        position:absolute;
        top:50%;
        left:10%;
        @include transform-translate(37%, -50%);
        text-align:right;
        h1{
            @extend h2;
            color:$white;
            @include media-breakpoint-down(md) {
                line-height:3rem;
            }
        } 
        h5{
            color:$white;
        }
    } 
}