/*
   About Page Elements
   ========================================================================== */

.about-middle {
    @include linearGradient($white, 20%, $white, 20%);
    @include media-breakpoint-up(md) {
        @include linearGradient($white, 20%, $line-bg, 20%);
    }
     margin-top: -230px;
     padding-bottom:160px;
     padding-top:270px;
    @include media-breakpoint-up(md) {
        margin-top: -100px;
        padding-bottom:270px;
    }
    .about-container {
        @include container-fix();
    }
    .about-inner {
        @include make-row();
    }
    .about-pic {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
        img {
            width: 100%;
            @include media-breakpoint-up(lg) {
                width: auto;
            }
        }
    }
    .about-text {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        @extend .align-self-center;
        .middle-align {
            max-width: 100%;
            margin: auto;
             @include media-breakpoint-up(md) {
                 max-width: 359px;
             }
            p {
                font-family: $secondary-font-regular;
                &:nth-child(1) {
                    padding: 2rem 0 3rem 0;
                    position:relative;
                    border-top:3px solid $line-bg-2;
                }
            }
            a {
                margin: 3rem 0;
            }
        }
    }
    .address {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            @include make-col(2);
        }
        p {
            font-family: $primary-font-medium;
            padding-bottom: 2rem;
            a{
                color:$text-color;
                &:hover{
                    text-decoration:none;
                    opacity:.8;
                }
            }
        }
    }
}

.world-of-bliss {
    margin-top: -330px;
    .world-of-bliss-inner{
        @include make-row(); 
    }
    .about-slide {
        margin-top: 170px;
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            @include make-col(7);
        }
        .carousel-control-prev,
        .carousel-control-next{
           top:80%; 
           @include media-breakpoint-down(md) {
              top:50%;
           }
           @include media-breakpoint-down(md) {
              top:50%;
           }
           @include media-breakpoint-down(sm) {
              top:30%;
           }
        }
    }
    .yellow-heading {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            @include make-col(5);
        }
        @include linearGradient(transparent, 75%, $white, 25%);
        @include media-breakpoint-up(md) {
            @include linearGradient(transparent, 75%, $primary-bg, 25%);
        }
        .heading-text {
            @include vertical-center();
            position: absolute;
            right: 1%;
            left: inherit;
            text-align: right;
            @include media-breakpoint-up(md) {
               left: -9%;
                right: inherit;
            }
            a {
                margin: 4rem;
            }
            h2{
                 text-shadow: 2px 2px 0px $white;
            }
        }
    }
}

.features-section {
    margin-top: 110px;
    h3 {
        position: relative;
        margin-bottom: 5.5rem ;
        &:before {
            content: '';
            @extend .vercal-line;
        }
    }
    p {
        max-width: 98%;
        margin: 8.5rem auto 1rem auto;
        text-align: center;
        font-family: $secondary-font-regular;
          @include media-breakpoint-up(md) {
             max-width: 57%;
             margin: 8.5rem auto 2rem auto;
          }
    }
    .features {
        @include container-fix();
         margin-top: 1.5rem ;
        @include media-breakpoint-up(md) {
           margin-top: 8.5rem ;  
        }
    }
    .features-list {
        text-align:center;
        ul {
            li {
                display: inline-block;
                width: 49%;
                text-align:center;
                .features-icon {
                    width: 112px;
                    height: 112px;
                    text-align: center;
                    background-color: $white;
                    border: 1px solid $line-bg;
                    padding: 30px;
                    margin: auto;
                    @include border-radius(50%);
                    @include transition($global-transition);
                }
                span {
                    margin: 50px 0 90px;
                    font-family: $primary-font-regular;
                    display: inline-block;
                    text-align: center;
                    width: auto;
                }
                &:hover, &.active{
                    span{
                        background-color:$primary-bg;
                        @include transition($global-transition);
                    }
                    .features-icon {
                        background-color: $primary-bg;
                        border: 1px solid $primary-bg;
                        @include transition($global-transition);
                        img {
                            webkit-filter : invert(100%);
                            filter: invert(100%);
                        }
                    }
                }
                @include media-breakpoint-up(sm) {
                    width:29%;
                }
                @include media-breakpoint-up(md) {
                    width:19%;
                }
            }
        }
    }
}