/*
   Gallery Page Elements
   ========================================================================== */
.gallery-inner-banner {
	margin-top: 50px;
}
/* Gallery wrapper*/
.gallery-wrapper {
	@include container-fix();
}

/* Gallery items wrap*/
.gallery-items-wrap {
	@include make-row();
	padding: 0;
	.fancybox {
		@include make-col-ready();
		@include media-breakpoint-up(md) {
			@include make-col(4);
		}
		padding:30px;
		.item {
			@extend .bg-cover;
			display: inline-block;
			float: left;
			@include transition($global-transition);
			width: 100%;
			height: 18.75rem;
			background-size: cover;
			&:hover {
				cursor: pointer; 
			}
		}
		.overlay{
			display:none;
			position:absolute;
			top:30px;
			left:30px;
			bottom:30px;
			right:30px;
			background-color:$gallery-hover;
			span{
				width:114px;
				height:114px;
				border:5px solid $white;
				border-radius:50%;
				color:$white;
			    top: 50%;
			    left: 50%;
			    position: absolute;
			    text-align: center;
			    transform: translate(-50%, -50%);
			    font-family:$primary-font-bold;
			    font-size:$type-size-5;
			    letter-spacing:1px;
			    line-height:30px;
			    text-transform:uppercase;
			}
		}
		&:hover{
			.overlay{
				@include transition($global-transition);
				display:block;
			}
		}
	}
}
.gallery-nav{
	ul{
		padding:0px 0 30px !important;
	}
}
