.local-flow-wrap{
	width:100%;
    padding-top: 20px;
    .assets-block{
    	.assets-img {
            @include make-col-ready();
            @include media-breakpoint-up(md) {
                @include make-col(7);
            }
            min-height: 535px;
            @include box-shadow(10px, 10px, 0px, $primary-bg);
            @include media-breakpoint-down(sm) {
            	min-height: 420px;
            }
        }
        .assets-content {
        	@include make-col-ready();
            @include media-breakpoint-up(md) {
                @include make-col(5);
            }
            h5{
            	padding-bottom: 30px;
    			margin-bottom: 30px;
    			border-bottom:3px solid $line-bg;
            }
        }
        &:nth-child(even) {
            .assets-img {
                @include box-shadow(-10px, 10px, 0px, $primary-bg);
                @include media-breakpoint-down(sm) {
                    @include box-shadow(10px, 10px, 0px, $primary-bg);
                }
            }
        }
    }
}