/*
   Offers & Offer Details Page Elements
   ========================================================================== */

.offers-intro{
	@include container-fix();
	padding:50px 30px;
	@include media-breakpoint-up(lg) {
		padding:80px 100px;
	}
	h3{
		border-bottom:3px solid $line-bg; 
		padding:0 0 30px 0;
		margin:0 0 30px 0;
	    display: inline-block;
	}
	p{
		width:90%;
		@include media-breakpoint-up(lg) {
			width:70%;
		}
	}
}

.offers-wrap{
	.assets-block{
		.assets-img{
			height:575px;
			box-shadow:none !important;
			.img-inner{
				width:100%;
				margin:0 auto;
				height:inherit;
				@include box-shadow(15px, 15px, 0px, $line-bg);
				@include media-breakpoint-up(lg) {
					width:80%;
				}
			}
		}
		&:nth-child(even) {
	        .assets-img {
	        	.img-inner{
	                @include box-shadow(-15px, 15px, 0px, $line-bg);
	                @include media-breakpoint-down(sm) {
	                    @include box-shadow(15px, 15px, 0px, $line-bg);
	                }
	            }
	        }
	    }
	}
}

.offer-details-intro{
	@include intro();
}

.offer-includes{
	margin-top:20px;
	@include media-breakpoint-up(lg) {
		margin-top:60px;
	}
	ul{
		background-color:$primary-bg;
		width:100%;
		padding:20px 30px;
		@include media-breakpoint-up(lg) {
			width:70%;
			padding:40px 30px;
		}
		@include media-breakpoint-up(xl) {
			padding:80px 70px;
		}
		li{
			position: relative;
		    display: inline-block;
		    padding: 0 15px;
		    font-family:$highlight-font;
		    font-size:$type-size-6;
		    color:$text-color;
		    @include media-breakpoint-up(xl) {
		    	font-size:$type-size-4;
		    }
			&:after{
				content:"";
				width:5px;
				height:5px;
				background-color:$black;
				position:absolute;
				border-radius:50%;
				left: -5px;
    			top: 9px;
    			@include media-breakpoint-up(xl) {
    				top: 15px;
    			}
			}
			&:first-child{
				&:after{
					display:none;
				}
			}
		}
	}
}

.gift-beach{
	margin:90px 0 0 0;
	.gift-beach-wrap{
		@include make-row();
		.img-part{
			@include make-col-ready();
	        @include media-breakpoint-up(md) {
	            @include make-col(6);
	        }
	        img{
	        	width:100%;
	        	margin: -60px 0 0 0;
	        }
		}
		.text-part{
			@extend .img-part;
			.text-part-inner{
				@include vertical-center();
				padding:30px 0 30px 20px;
				@include media-breakpoint-up(md) {
					padding:30px 0 30px 60px;
				}
				@include media-breakpoint-up(xl) {
					padding:0 0 0 60px;
				}
				h2{
				    padding-bottom: 10px;
				}
				p{
					padding-bottom:60px;
					width:90%;
					@include media-breakpoint-up(xl) {
						width:50%;
					}
				}
			}
		}
	}
}