/*
   About Page Elements
   ========================================================================== */

.rfp-form{
    margin:70px auto 0;
    .form-section{
        padding: 60px 80px 40px !important;
        h4{
            width:100%;
            padding-bottom:20px !important;
        }
        textarea{
            height:58px !important;
        }
        .radio-btn{
                margin-top: 15px;
            
        }
        label{
                padding:0 15px 0 3px;
            }
    }
}