/*
   Shared Page Elements
   ========================================================================== */


.hero-slider{
	margin:60px 15px 0px 15px;
	  @include media-breakpoint-up(md) {
	  	margin:108px 60px 0px 60px ;
	  }
	.carousel-inner,
	.carousel-item{
       min-height: 660px;
	}

	.rate-widget{
		position: absolute;
	    right: -125px;
	    z-index: 9;
	    bottom: 123px;
	    background:$white;
	    padding: 1.6rem;
	    letter-spacing: 4px;
	    font-size: $type-size-5;
	    @include transform-rotate(270deg);
	    a{
	    	font-family:$secondary-font-bold ;
	    	text-transform: uppercase;
	    	color:$secondary-bg;
	    }
	}	
}

.welcome{
	margin-top:20px;
	@include media-breakpoint-up(md){
		margin-top:-70px;
	}
	.welcome-container {
		@extend .container;
	}
	.welcome-inner {
		@include make-row();
	}
	.inspired{
		@include make-col-ready();
		@include media-breakpoint-up(md){
			@include make-col(6);
		}
		@extend .align-self-center;
		text-align: right;
		.inspired_heading{
			position:relative;
			left: inherit;
			@include media-breakpoint-up(lg){
				left: -32%;
			}
			h1{
				@extend h2;
				text-align:right;
			}
			h4{
				margin:0;
			}
		}
	}
}
.welcome-about{
			@include make-row();
			@extend .m-0;
				.about-pic{
				@extend .p-0;
				@include make-col-ready();
				@include media-breakpoint-up(md){
						@include make-col(3);
					}
					img{
						padding-right:8rem;	
					}
				}
				.about-content-pic{
					@extend .p-0;
					@extend .m-0;
					.content-pic-inner{
						@include make-row();
						margin: 0!important;
					}
					@include make-row();
					@include make-col-ready();
					@include media-breakpoint-up(md){
						@include make-col(9);
					}
					.content{
						@include make-col-ready();
						@include media-breakpoint-up(md){
							@include make-col(6);
							margin-right: inherit;
						}
						@extend .align-self-center;
						p{
							padding:2.5rem  0rem 2.75rem 0;
							margin-right: 10rem;
							margin-top: 2.5rem;
						 	border-top: 3px solid #f4f4f4;
						}
					}
					.pic{
						@extend .p-0;
						@include make-col-ready();
						@include media-breakpoint-up(md){
							@include make-col(6);
						}
						@extend .align-self-end;
						text-align: right;
					}
					.trip_advicer{
						@include make-col-ready();
						background:$primary-bg;
				
						ol{
							display: flex;
							padding:0;
							margin: 0;
							height: 100%;
							li{
								padding-top:2rem;
								margin:0 auto;
								p{
									font-family: $highlight-font;
									max-width:460px;
									
								}
								.fa{
										font-size: 2.25rem;
									}
								&:nth-child(1){
									padding: 4rem 4rem 2rem 4rem;
								    border-right: 1px solid $white;
								    margin: 0;
								}
							}
						}
					}
				}
	}

.explore-area{
	.explore-area-content-pic{
		@extend .about-content-pic;
	}
	@extend .welcome-about;
	.explore_pic{
		@extend .text-left ;
		@extend .pic ;
		
	}
	.cycleing-pic{
		@extend .about-pic ;
		@extend .align-self-end;
		@extend .text-right ;
		img{
			@extend .pr-0;
		}
		
	}
}

.visual_tour{
	@include make-row();
	@extend .m-0;
	.beach-view{
		margin-bottom:200px;
	 	@extend .p-0;	
		@include make-col-ready();
		@include media-breakpoint-up(sm){
			@include make-col(9);
		}
		img{
			width: 100%;
			@include box-shadow(-400px, 200px, 0px, $primary-bg);
			@include media-breakpoint-up(md){
				width: 100%;
			}
		}
		.over-lap-heading{
			@extend .align-self-end ;
			@extend .text-right;
			position:absolute;
			bottom: -186px;
    		right: -0px;
    			@include media-breakpoint-up(md){
    				bottom: -186px;
    				right: -200px;
    			}
    			a{
    				margin-right:5rem;
    				margin-top:2rem;  
    			}
		}
	}
}


